@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  position: relative;
  /* overflow: hidden; */
  height: 100%;
  background-image: url(../assets/trapthecat_asset/play_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
